<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Slider Js</title>
</head>

<body>

    <div id="slider">
        <i class="fas fa-chevron-circle-left" @click="prevImage"></i>
        <div class="view">
            <img v-for="(image, index) in bird.images" :key="index" :id="index" :src="`${bird.src}${image}.jpg`"
                :alt="`Bird ${image}`" :class="opt(index)">
        </div>
        <ul>
            <li v-for="(image, index) in bird.images" :key="index">
                <i class="fas fa-circle" :class="activeCircle(index)" @click="goToImage(index)"></i>
            </li>
        </ul>
        <i class="fas fa-chevron-circle-right" @click="nextImage"></i>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/slider.js"></script>
</body>

</html>